
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.icon-setting{
    position: fixed;
    right: 0;
    top: 50%;
    background-color: #555;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 2px;
}
.icon-setting i{
    margin-top: 10px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.685);
    height: 100vh;
}
.home{
    background-image: url(../images/intro-bg.jpg);
    height: 100vh;
    background-size:cover ;
    background-position: right;
    
}
.home .nav{
    width: 100%;
    padding:10px 0;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    justify-content: center;
}
.home .nav .logo {
    width: 10%;
    margin-left: 35px;
}
.home .nav .logo img{
    width: 100%;
}
.home .nav .head{
    width: 50%;
    margin: auto;
}
.home .nav .head .icon-head{
    opacity: 0;
}
.home .nav .head ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home .nav .head ul li {
   list-style: none;
}
.home .nav .head ul li a:hover{
    color: #20c997;
}

.home .nav .head ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    color: white;
}

.home-content h3{
    font-weight: 500;
    font-size: 25px;
}
.home-content p{
    color: #dee3e4;
    font-size: 18px;
}

.home-content a{
    text-decoration: none;
    color: #20c997;
    border: #20c997 2px solid;
    width: 120px;
    text-align: center;
    border-radius: 120px;
    padding: 10px ;
    transition: all 0.4s;
    margin-top: 20px;
}
.home-content a:hover{
    background-color: #20c997;
    color: #fff;
}
.home-content .wrapper{
    display: inline-flex;
}
.home-content .wrapper .static-txt{
    font-size: 60px;
    font-weight: 600;
}
.home-content .wrapper .dynamic-txt{
    margin-left: 15px;
    overflow: hidden;
}
.home-content .wrapper .dynamic-txt li{
   list-style: none;
   font-size: 60px;
   font-weight: 600;
    
}

.home .arrow{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    animation: fadeInDown 1.5s infinite;
    position: relative;
}


@keyframes fadeInDown {
    0% {
      top: -25px;
      opacity: 0;
    }
    100% {
      top: 10px;
      opacity: 1;
    }
  }


  .sec2 {
    width: 100%;
    height: 105%;
    background-color: #fff;
}

.about-me {
    position: relative;
    margin-top: 40px;
}

.about-me h2 {
    font-size: 8em;
    text-align: center;
    color: #dee3e4;
    font-weight: 600;

}

.about-me-p {
    width: 100%;
    height: 192px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 600;
    color: #000;
}

.sec2-content {
    width: 90%;
    height: 50%;
    margin: 4% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.con-prag {
    width: 63%;
    height: 100%;
}

.con-prag h4 {
    font-size: 1.7em;
    font-weight: 600;
}

.con-prag h4 span {
    color: #20c997;
}

.con-prag p {
    padding-top: 20px;
}

.con-list {
    width: 30%;
    padding: 10px 0px;
}

.con-list ul {
    list-style: none;
}

.con-list ul li {
    font-size: 1em;
    padding: 10px 0px;

}

.con-list ul li a {
    text-decoration: none;
    color: #20c997;
}

.con-list ul li span {
    font-size: 1.1em;
    font-weight: 600;

}

hr {
    border: 1px solid #dddddd;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;

}

.con-list button {
    width: 45%;
    height: 13%;
    margin-top: 10px;
    border: 1px solid transparent;
    background-color: #20c997;
    border-radius: 40px;
    margin-left: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    box-shadow: 2px 3px 6px rgb(237, 237, 237);
    transition: .5s;
}

.con-list button a {
    text-decoration: none;
    color: #fff;

}

.con-list button:hover {
    background-color: #14a87c;
    box-shadow: 2px 3px 10px rgba(105, 104, 104, 0.516);
}

.numbers {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 90px;
}

.numb h3 {
    font-size: 3em;
    font-weight: 500;
    color: #6c757d;
}

.resume{
    width: 90%;
    
    margin-top: 100px;
   
    /* background-color: #20c997; */
}
.sum{
    display: flex;
}

.container{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
    /* background-color: cadetblue; */
    /* display: flex; */
    
}
.item{
    text-align: center;
    margin-left: 350px;
    position: relative;
    width: 50%;
    height: 20%;
    margin-bottom: 200px;

}
.hhh{
    font-size: 130px;
    color: #dee3e4;
    font-weight: 100px;
    margin-top: 10px;
    /* opacity: 0.4; */
    position: absolute;

}
.pp{
    font-size: 50px;
    font-weight: 40px;
    color: black;
  
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    
}


.su{
    border: 2px #dee3e4 solid;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-left: 90px;

}
.five{
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 30px;
}
.ooo{
    background-color: #20c997;
    border: 1px #20c997 solid;
    padding: 1px 10px;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
    margin-bottom: 10px;
}
.sss{
    font-size: 25px;
    font-weight: 10px;
    color: #434444;
    margin-bottom: 10px;
}
.vim{
    font-size: 18px;
    margin-bottom: 10px;
    color:#dc3545;
}
.mea{
    color: #4c4d4d;
    font-size: 17px;
    margin-bottom: 10px;
}
.skills{
    display: flex;
    width: 100%;
}
.my{
    width: 40%;
    margin-left: 80px;
    margin-bottom: 20px;
}
.sk{
    margin-left: 80px;
    margin-bottom: 20px;
}
.css{
    margin-bottom: 20px;
}


.grey{
    background-color: #e9ecef;
    height: 8px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    /* overflow: hidden; */
    margin-bottom: 25px;
    box-sizing: border-box;

    
}
.teal{
    background-color: #20c997;
    height: 8px;
    width: 65%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.teallll{
    background-color: #20c997;
    height: 8px;
    width: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.tealll{
    background-color: #20c997;
    height: 8px;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.teall{
    background-color: #20c997;
    height: 8px;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.tea{
    background-color: #20c997;
    height: 8px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.te{
    background-color: #20c997;
    height: 8px;
    width: 99%;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 25px;
}
.download{
    text-align: center;
}
.down{
    border: 2px solid #6c757d;
    color:#20c997;
    border-radius: 50px;
    padding: 15px 55px;
    background-color: #fff;
    font-size: 20px;
    margin-top: 30px;

}
.down:hover{
    color: #fff;
    background-color: #6c757d;
}
.cs{
    margin-left: 450px;
}

/*Ahmed*/

/* Start Contact */
.contact {
    background-color: #f8f9fa;
    padding-bottom: 20px;
  }
  .contact .inner .h2-1 {
    text-align: center;
    font-size: 130px;
    opacity: 0.4;
    color: #dee3e4;
  }
  .contact .inner .h2-2 {
    position: absolute;
    top: 19%;
    left: 42.5%;
    font-size: 35px;
    border-bottom: #20c997 solid 4px;
    line-height: 1.5;
  }
  .contact .contact-info .content-info {
    width: 20%;
    float: left;
  }
  .contact .contact-info .content-info .p1 {
    padding-bottom: 15px;
    line-height: 1.8;
  }
  .contact .contact-info .content-info span {
    color: #20c997;
    font-size: 20px;
  }
  .contact .contact-info .content-info .span2 {
    color: #20c997;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
  .contact .contact-info .content-from {
    width: 80%;
    float: right;
  }
  .contact .contact-info .content-from form .from-name {
    float: left;
    width: 49%;
  }
  .contact .contact-info .content-from form .from-name .name,
  .contact .contact-info .content-from form .from-email .email {
    width: 100%;
    padding: 0.81rem 0.96rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: #656565;
  }
  
  .contact .contact-info .content-from form .from-email {
    float: right;
    width: 49%;
  }
  .contact .contact-info .content-from form .form-txarea {
    margin-top: 20px;
    width: 100%;
  }
  .contact .contact-info .content-from form .form-txarea .form-control {
    padding: 0.81rem 0.96rem;
    color: #656565;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 0.25rem;
  }
  .contact .contact-info .content-from form .but {
    text-align: center;
    margin-top: 20px;
  }
  .contact .contact-info .content-from form .but button {
    padding: 0.8rem 2.6rem;
    background-color: #20c997;
    border: 1px solid #20c997;
    border-radius: 50rem;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  /* End Contact */
  
  /* Start footer */
  
  .footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer .row .footer-content {
    float: left;
    width: 50%;
  }
  .footer .row .footer-content a {
    text-decoration: none;
    color: #20c997;
  }
  
  .footer .row .footer-content2 {
    float: right;
    width: 30%;
  }
  .footer .row .footer-content2 ul li {
    display: inline-block;
    list-style: none;
    border-left: 1px solid #6f72755b;
  }
  .footer .row .footer-content2 ul li a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
  }
  .footer .row .footer-content2 ul li a:hover {
    color: #20c997;
  }
  /* End footer */
  