
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.icon-setting{
    position: fixed;
    right: 0;
    top: 50%;
    background-color: #555;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 2px;
}
.icon-setting i{
    margin-top: 10px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.685);
    height: 100vh;
}
.home{
    background-image: url(../images/intro-bg.jpg);
    height: 100vh;
    background-size:cover ;
    background-position: right;
    
}
.home .nav{
    width: 100%;
    padding:10px 0;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    justify-content: center;
}
.home .nav .logo {
    width: 10%;
    margin-left: 35px;
}
.home .nav .logo img{
    width: 100%;
}
.home .nav .head{
    width: 50%;
    margin: auto;
}
.home .nav .head .icon-head{
    opacity: 0;
}
.home .nav .head ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home .nav .head ul li {
   list-style: none;
}
.home .nav .head ul li a:hover{
    color: #20c997;
}

.home .nav .head ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    color: white;
}

.home-content h3{
    font-weight: 500;
    font-size: 25px;
}
.home-content p{
    color: #dee3e4;
    font-size: 18px;
}

.home-content a{
    text-decoration: none;
    color: #20c997;
    border: #20c997 2px solid;
    width: 120px;
    text-align: center;
    border-radius: 120px;
    padding: 10px ;
    transition: all 0.4s;
    margin-top: 20px;
}
.home-content a:hover{
    background-color: #20c997;
    color: #fff;
}
.home-content .wrapper{
    display: inline-flex;
}
.home-content .wrapper .static-txt{
    font-size: 60px;
    font-weight: 600;
}
.home-content .wrapper .dynamic-txt{
    margin-left: 15px;
    overflow: hidden;
}
.home-content .wrapper .dynamic-txt li{
   list-style: none;
   font-size: 60px;
   font-weight: 600;
    
}

.home .arrow{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    animation: fadeInDown 1.5s infinite;
    position: relative;
}


@keyframes fadeInDown {
    0% {
      top: -25px;
      opacity: 0;
    }
    100% {
      top: 10px;
      opacity: 1;
    }
  }


  .sec2 {
    width: 100%;
    height: 105%;
    background-color: #fff;
}

.about-me {
    position: relative;
    margin-top: 40px;
}

.about-me h2 {
    font-size: 8em;
    text-align: center;
    color: #dee3e4;
    font-weight: 600;

}

.about-me-p {
    width: 100%;
    height: 192px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 600;
    color: #000;
}

.sec2-content {
    width: 90%;
    height: 50%;
    margin: 4% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.con-prag {
    width: 63%;
    height: 100%;
}

.con-prag h4 {
    font-size: 1.7em;
    font-weight: 600;
}

.con-prag h4 span {
    color: #20c997;
}

.con-prag p {
    padding-top: 20px;
}

.con-list {
    width: 30%;
    padding: 10px 0px;
}

.con-list ul {
    list-style: none;
}

.con-list ul li {
    font-size: 1em;
    padding: 10px 0px;

}

.con-list ul li a {
    text-decoration: none;
    color: #20c997;
}

.con-list ul li span {
    font-size: 1.1em;
    font-weight: 600;

}

hr {
    border: 1px solid #dddddd;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;

}

.con-list button {
    width: 45%;
    height: 13%;
    margin-top: 10px;
    border: 1px solid transparent;
    background-color: #20c997;
    border-radius: 40px;
    margin-left: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    box-shadow: 2px 3px 6px rgb(237, 237, 237);
    transition: .5s;
}

.con-list button a {
    text-decoration: none;
    color: #fff;

}

.con-list button:hover {
    background-color: #14a87c;
    box-shadow: 2px 3px 10px rgba(105, 104, 104, 0.516);
}

.numbers {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 90px;
}

.numb h3 {
    font-size: 3em;
    font-weight: 500;
    color: #6c757d;
}

